// COLORS
// ==============================

$color-white: #ffffff;
$color-black: #222222;

$color-blue-gray:  #607d8b;
$color-gray-lightest: #f0f0f0;
$color-gray-light: #c2c2c2;
$color-gray-medium: #888888;
$color-gray-dark: #444444;
